body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 40px 0;
}

.title {
  font-size: 20px;
  letter-spacing: -3%;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 32px;
  max-width: 282px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 32px;
  }
  .section {
    padding: 60px 0;
  }
}
