.made-img-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.play-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-descr {
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.made-item {
  position: relative;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-left: 16px;
}

.made-item::after {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--sec-bg-color);
}

@media screen and (min-width: 768px) {
  .made-img {
    margin: 0 auto;
  }
  .made-descr {
    padding: 32px;
  }
  .made-subtitle {
    width: 350px;
    margin-bottom: 28px;
  }
  .made-container {
    padding: 0 77px;
  }
  .made-item {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .made-container {
    display: flex;
    padding: 0 32px;
    gap: 20px;
  }
  .made-img {
    width: 600px;
    height: 400px;
  }
  .made-item {
    max-width: 452px;
  }
}
