.reviews {
  padding-bottom: 80px;
}
.reviews-title {
  margin-bottom: 72px;
}

.reviews-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 56px 18px 42px 18px;
  position: relative;
  text-align: center;
}

.reviews-item:not(:first-child) {
  display: none;
}

.reviews-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.reviews-name {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.reviews-descr {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.reviews-btn {
  display: block;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: transparent;
  padding: 12px 28px;
  margin: 32px auto 0;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
  }
  .reviews-item:not(:last-child) {
    display: block;
  }

  .reviews-item {
    width: calc((100% - 16px) / 2);
  }
  .reviews-list {
    display: flex;
    gap: 16px;
  }
  .reviews-btn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 120px;
  }
  .reviews-item:last-child {
    display: block;
  }

  .reviews-item {
    width: calc((100% - 56px) / 3);
  }
  .reviews-list {
    gap: 28px;
  }
}
